<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body class="bg-dark text-white text-center">

    <div class="container mt-5">
        <h1>🔥 Clientes gamers a 1 km com Flask!</h1>
        <p>Seu HTML foi carregado corretamente.</p>

        <form method="POST" href="/cliente">
            <input class="ipt-cadastro" type="text" name="cpf" placeholder="CPF" required><br><br>
            <input class="ipt-cadastro" type="text" name="nome" placeholder="Nome" required><br><br>
            <input class="ipt-cadastro" type="email" name="email" placeholder="Email" required><br><br>
            <button class="btn btn-outline-success btn-lg" type="submit" onclick="window.location.href='/cliente'">Salvar</button>
        </form>
        <br><hr>
        <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/'">
            Home
        </button>
        <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/cliente'">
            Voltar
        </button>
        <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/cliente/lista'">
            Listar
        </button>
    </div>

</body>
</html>