<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Flask</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-dark text-white text-center">

    <div class="container mt-5">
        <h1>🔥 Produtos em Falta com Flask!</h1>
        <p>Seu HTML foi carregado corretamente.</p>
        <p>Estamos falidos</p>

        <h1>Adicionar Produto</h1>

        <form method="POST" onsubmit="return validarFormulario()">
            <input class="ipt-cadastro" type="text" id="nome" name="nome" placeholder="Nome do produto" required><br><br>
            <input class="ipt-cadastro" type="number" step="0.01" id="preco" name="preco" placeholder="Preço" required><br><br>
            <input class="ipt-cadastro" type="number" name="quantidade" placeholder="Quantidade" required><br><br>
            <button class="btn btn-outline-success btn-lg" type="submit">Salvar</button>
        </form>
        <br><hr>
        <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/'">
            Home
        </button>
        <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/produtos'">
            Voltar
        </button>
        <button class="btn btn-outline-danger btn-lg" onclick="window.location.href='/produtos/lista'">
            Lista
        </button>

    </div>

</body>
<script>
    const produtosExistentes = [
        {% for p in produtos %}
            "{{ p.nome_produto|lower }}",
        {% endfor %}
    ];
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>