<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Muito Foda com Flask</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-dark text-white text-center">

    <div class="container mt-5">
        <h1>🔥 Funcionando com Flask!</h1>
        <p>Seu HTML foi carregado corretamente.</p>
        <button class="btn btn-outline-warning"onclick="window.location.href='/cliente'">
            Cliente
        </button>        
        <button class="btn btn-outline-warning"onclick="window.location.href='/vendas'">
            Vendas
        </button>
        <button class="btn btn-outline-warning"onclick="window.location.href='/produtos'">
            Produtos
        </button>
    </div>

</body>
</html>